<div class="card">
  <div class="post">
    <div class="post-image" style="background-image: url('./images/pexels-photo-370474.jpeg.webp');"></div>

    <div class="post-avatar">
      <img src="./images/avatar1.webp" alt="Author">
    </div>

    <div class="post-info">
      <h3 class="title"><%= post.title %></h3>
      <ul class="post-footer">
        <li><i class="fa fa-heart"></i> 57</li>
        <li><i class="fa fa-comment"></i> 6</li>
        <li><i class="fa fa-eye"></i> 138</li>
      </ul>
    </div>

    <div class="post-actions">
        <a href="/edit/<%= post.id %>" class="edit-btn"><i class="fa fa-pencil"></i></a>
        <form action="/delete/<%= post.id %>" method="POST" style="display:inline;">
            <button type="submit" class="delete-btn"><i class="fa fa-trash"></i></button>
        </form>
    </div>

  </div>
</div>
