<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog EJS</title>
    <link rel="stylesheet" href="style.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

</head>
<body>
    <main>
        <header class="main-header">
            <div class="header-left">
                <div class="logo">Blog</div>
            
                <nav class="navbar">
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="/new">New Post</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </nav>
            </div>
        
            <div class="search-box">
                <button><i class="fa fa-search"></i></button>
                <input type="text" placeholder="Type of search" />
            </div>
        </header>